.experience{
    background-color: bisque;
    color: blue;

}
.skills{
    background-color: aquamarine;
    color: brown;
}
.language{
    background-color: aquamarine;
    color: brown;
}
.hobbies{
    background-color: aquamarine;
    color: brown;
}
.summary{
    background-color: aquamarine;
    color: brown;
}
.contact{
    background-color: aquamarine;
    color: brown;
}